{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="wrapper bg-gray">
        <div class="container py-3">
            <header>
              <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-4 fw-normal text-body-emphasis">Avtomatlashtirilgan Statistika</h1>
                <p class="text-body-secondary"></p>
              </div>
            </header>
          
            <main>
              <div class="row mb-3 text-center">
                <div class="col">
                  <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                      <h4 class="my-0 fw-normal">1. O‘rtacha miqdorlarni analitik hisoblash</h4>
                    </div>
                    <div class="card-body">
                      <ul class="list-unstyled mt-3 mb-4">
                        <li>Ushbu avtomatlashtirilgan tizimning asosiy maqsadi – iqtisodiy jarayonlarning o‘rtacha miqdoriy ko‘rsatkichlarini aniqlash,
                          statistik tahlil qilish va vizualizatsiya asosida qaror qabul qilishni optimallashtirish.</li>
                      </ul>
                      <a href="/automation/kompaniya-daromadi/" class="w-100 btn btn-lg btn-outline-primary">Kirish</a>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                      <h4 class="my-0 fw-normal">2. Iqtisodiy ma’lumotlarni analitik tahlil qilish va statistik modellashtirish</h4>
                    </div>
                    <div class="card-body">
                      <ul class="list-unstyled mt-3 mb-4">
                        <li>Ushbu dastur sotuv hajmi, narx va reklama xarajatlari o‘rtasidagi bog‘liqlikni aniqlash uchun statistik ko‘rsatkichlarni avtomatlashtirilgan hisoblash imkonini beradi.</li>
                      </ul>
                      <a href="/automation/statistik-kuzatish-va-tahlil/" class="w-100 btn btn-lg btn-outline-primary">Kirish</a>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                      <h4 class="my-0 fw-normal">3. Iqtisodiy jarayonlarning statistik vizualizatsiyasi</h4>
                    </div>
                    <div class="card-body">
                      <ul class="list-unstyled mt-3 mb-4">
                        <li>Ushbu dastur sotuv hajmi va reklama xarajatlari o‘rtasidagi bog‘liqlikni vizual, hamda iqtisodiy ko‘rsatkichlarning taqsimotini grafik shaklda ifodalash uchun ishlab chiqilgan.</li>
                      </ul>
                      <a href="/automation/statistik-grafiklar/" class="w-100 btn btn-lg btn-outline-primary">Kirish</a>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                      <h4 class="my-0 fw-normal">4. Statistik tahlil va iqtisodiy trendlarni prognozlash</h4>
                    </div>
                    <div class="card-body">
                      <ul class="list-unstyled mt-3 mb-4">
                        <li>Ushbu avtomatlashtirilgan dastur iqtisodiy ko‘rsatkichlar (daromad, xarajat, sotuv hajmi) dinamikasini tahlil qilish va kelajakdagi trendlarni bashorat qilish uchun mo‘ljallangan.</li>
                      </ul>
                      <a href="/automation/dinamikani-organish-va-prognozlash/" class="w-100 btn btn-lg btn-outline-primary">Kirish</a>
                    </div>
                  </div>
                </div>

              </div>
            </main>

          <header>
              <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-4 fw-normal text-body-emphasis">Avtomatlashtirilgan Ekonometrika</h1>
                <p class="text-body-secondary"></p>
              </div>
            </header>

            <main>
              <div class="row mb-3 text-center">

                <div class="col">
                  <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                      <h4 class="my-0 fw-normal">1. Ekonometrik modellashtirish: Talab, taklif va narx dinamikasi</h4>
                    </div>
                    <div class="card-body">
                      <ul class="list-unstyled mt-3 mb-4">
                        <li>Dastur talab, taklif va narx o‘rtasidagi bog‘liqlikni tahlil qilish, statistika va econometrika asosida bozor muvozanatini o‘rganish va narxning bashoratini ishlab chiqish uchun mo‘ljallangan. Dastur foydalanuvchilarga kelajakdagi narxlar bo‘yicha prognoz berish imkoniyatini taqdim etadi.</li>
                      </ul>
                      <a href="/automation/ekonometrik-model/" class="w-100 btn btn-lg btn-outline-primary">Kirish</a>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                      <h4 class="my-0 fw-normal">2. Ekonometrik modellashtirish: Korrelyatsiya va regressiya asosida prognozlash</h4>
                    </div>
                    <div class="card-body">
                      <ul class="list-unstyled mt-3 mb-4">
                        <li>Dastur iqtisodiy ko‘rsatkichlar (narx va daromad) o‘rtasidagi bog‘liqlikni tahlil qilish, statistika va econometrika asosida regressiya modelini qurish va kelajakdagi narxlarni prognoz qilish uchun mo‘ljallangan.</li>
                      </ul>
                      <a href="/automation/daromad-ortasidagi-bogliqlik/" class="w-100 btn btn-lg btn-outline-primary">Kirish</a>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                      <h4 class="my-0 fw-normal">3. Ishlab chiqarish trendlarini modellashtirish va bashoratlash</h4>
                    </div>
                    <div class="card-body">
                      <ul class="list-unstyled mt-3 mb-4">
                        <li>Dastur ishlab chiqarish hajmi yoki boshqa iqtisodiy o‘zgaruvchilarning trend dinamikasini tahlil qilish, chiziqli regressiya modeli yordamida trend modelini qurish va kelajakdagi qiymatlarni prognoz qilish uchun ishlab chiqilgan.</li>
                      </ul>
                      <a href="/automation/trend-va-prognozlash/" class="w-100 btn btn-lg btn-outline-primary">Kirish</a>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                      <h4 class="my-0 fw-normal">4. Ehtimollar nazariyasi asosida investitsion risklarni baholash</h4>
                    </div>
                    <div class="card-body">
                      <ul class="list-unstyled mt-3 mb-4">
                        <li>Ushbu avtomatlashtirilgan dastur investitsiya loyihalarining risklarini ehtimollar nazariyasi va statistik tahlil asosida baholash, kutilayotgan daromad va xavf ko‘rsatkichlarini hisoblash hamda optimal investitsiya qarorini qabul qilish uchun ishlab chiqilgan. </li>
                      </ul>
                      <a href="/automation/investitsiya-risklarini-baholash/" class="w-100 btn btn-lg btn-outline-primary">Kirish</a>
                    </div>
                  </div>
                </div>

              </div>
            </main>
          </div>
    </section>
{% endblock content %}
