{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="wrapper bg-gray">
        <div class="container py-3">
            <header>
              <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-4 fw-normal text-body-emphasis">Avtomatlashtirilgan Statistika</h1>
                <p class="text-body-secondary"></p>
              </div>
            </header>
          
            <main>
              <div class="row mb-3 text-center">
                <div class="col">
                  <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                      <h4 class="my-0 fw-normal">1. Daromad va Xarajatlar Tahlili</h4>
                    </div>
                    <div class="card-body">
                      <ul class="list-unstyled mt-3 mb-4">
                        <li>1. Daromad va Xarajatlar Tahlili</li>
                      </ul>
                      <a href="/automation/kompaniya-daromadi/" class="w-100 btn btn-lg btn-outline-primary">Kirish</a>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                      <h4 class="my-0 fw-normal">2. Sotuv, Narx va Reklama Tahlili</h4>
                    </div>
                    <div class="card-body">
                      <ul class="list-unstyled mt-3 mb-4">
                        <li>2. Sotuv, Narx va Reklama Tahlili</li>
                      </ul>
                      <a href="/automation/statistik-kuzatish-va-tahlil/" class="w-100 btn btn-lg btn-outline-primary">Kirish</a>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                      <h4 class="my-0 fw-normal">3. Sotuv va Reklama Tahlili</h4>
                    </div>
                    <div class="card-body">
                      <ul class="list-unstyled mt-3 mb-4">
                        <li>3. Sotuv va Reklama <br>Tahlili</li>
                      </ul>
                      <a href="/automation/statistik-grafiklar/" class="w-100 btn btn-lg btn-outline-primary">Kirish</a>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                      <h4 class="my-0 fw-normal">4. Dinamikani O‘rganish va Prognozlash</h4>
                    </div>
                    <div class="card-body">
                      <ul class="list-unstyled mt-3 mb-4">
                        <li>4. Dinamikani O‘rganish va Prognozlash</li>
                      </ul>
                      <a href="/automation/dinamikani-organish-va-prognozlash/" class="w-100 btn btn-lg btn-outline-primary">Kirish</a>
                    </div>
                  </div>
                </div>

              </div>
            </main>

          <header>
              <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-4 fw-normal text-body-emphasis">Avtomatlashtirilgan Ekonometrika</h1>
                <p class="text-body-secondary"></p>
              </div>
            </header>

            <main>
              <div class="row mb-3 text-center">

                <div class="col">
                  <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                      <h4 class="my-0 fw-normal">1. Ekonometrik Model <br>.</h4>
                    </div>
                    <div class="card-body">
                      <ul class="list-unstyled mt-3 mb-4">
                        <li>1. Ekonometrik Model <br>.</li>
                      </ul>
                      <a href="/automation/ekonometrik-model/" class="w-100 btn btn-lg btn-outline-primary">Kirish</a>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                      <h4 class="my-0 fw-normal">2. Korrelyatsiya, Regressiya va Prognoz Tahlili</h4>
                    </div>
                    <div class="card-body">
                      <ul class="list-unstyled mt-3 mb-4">
                        <li>2. Korrelyatsiya, Regressiya va Prognoz Tahlili</li>
                      </ul>
                      <a href="/automation/daromad-ortasidagi-bogliqlik/" class="w-100 btn btn-lg btn-outline-primary">Kirish</a>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                      <h4 class="my-0 fw-normal">3. Trend va Prognozlash <br>.</h4>
                    </div>
                    <div class="card-body">
                      <ul class="list-unstyled mt-3 mb-4">
                        <li>3. Trend va Prognozlash <br>.</li>
                      </ul>
                      <a href="/automation/trend-va-prognozlash/" class="w-100 btn btn-lg btn-outline-primary">Kirish</a>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                      <h4 class="my-0 fw-normal">4. Ehtimollar nazariyasi va statistik tahlil</h4>
                    </div>
                    <div class="card-body">
                      <ul class="list-unstyled mt-3 mb-4">
                        <li>4. Ehtimollar nazariyasi va statistik tahlil</li>
                      </ul>
                      <a href="/automation/investitsiya-risklarini-baholash/" class="w-100 btn btn-lg btn-outline-primary">Kirish</a>
                    </div>
                  </div>
                </div>

              </div>
            </main>
          </div>
    </section>
{% endblock content %}
